* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2em;

  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.5;

  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.84);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

hr {
  height: 1px;
  width: 100%;

  border: 0;
  border-radius: 50%;
  outline: 0;

  background-color: rgba(0, 0, 0, 0.14);
}

strong {
  font-weight: 900;

  color: rgba(0, 0, 0, 0.7);
}

code {
  display: inline-block;

  margin: 0;
  padding: 2px 4px;

  border-radius: 3px;

  font-family: 'Consolas', monospace;

  background-color: rgba(220, 220, 220, 0.42);
  color: rgba(0, 0, 0, 0.7);
}

a {
  display: inline-block;

  text-decoration: none;

  box-shadow: none;
  color: rgb(0, 120, 180);

  transition: box-shadow 0.3s cubic-bezier(0.3, 0.7, 0, 1);
}
a:active,
a:focus,
a:hover {
  box-shadow: 0 1px 1px -1px currentColor;
}

img {
  display: inline-block;

  max-width: 100%;
  height: auto;
}
